@font-face {
  font-family: "KaiseiDecol-Regular";
  src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

.banner {
  position: relative;
  width: 100%;
  text-align: center;
}

.banner-title {
  font-family: "KaiseiDecol-Regular", sans-serif;
  font-size: 128px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-image {
  width: 100%;
  display: block;
}
