/* 슬라이드 도트 */
.slick-dots {
    bottom: 25px;
}

.slick-dots li button:before {
    color: white;
    opacity: 0.75;
    font-size: 8px;
}
  
  .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
}

/* 기본 좌우 화살표 제거 */
.slick-prev:before,
.slick-next:before {
  content: none;
}