@font-face {
    font-family: "KaiseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "NanumMyeongjo";
    src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
  }
  

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #E7EFF5;
    padding: 52px 72px;
    gap: 36px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-title {
    font-size: 1.2rem;
    font-family: "KaiseiDecol-Regular";
}

.footer-subtitle,
.info-text-wrapper {
    font-family: "NanumMyeongjo";
}

.info-text-1 {
    color: #B8BAC6;
}

.info-text-1 {
    color: #9698A4;
}

.info-text-row {
    display: flex;
    gap: 16px;
}

.info-text-wrapper {
    display: flex;
    gap: 8px;
}