/* Mypage Base*/
.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
    font-family: 'NanumMyeongjo', sans-serif;
}

/* Profile Component */
.profile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 50px 0px;
    border-top: 1px solid #9698A4;
    border-bottom: 1px solid #9698A4;
}
.profile-section {
    width: 33%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
}
.profile-name {
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 40px;
    font-weight: 500;
}
.profile-realName {
    font-weight: 600;
}
.profile-stat-label {
    display: flex;
    align-items: center;
    height: 40px;
}
.profile-stat-value {
    font-weight: 500;
}

/* Status Component */
.status-container-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.status-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.status-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    border-top: 1px solid #9698A4;
    border-bottom: 1px solid #9698A4;
}
.status-section {
    width: 25%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Address Component */
.address-container-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.address-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.address-section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.address-post {
    width: 80px;
    margin-right: 40px;
}
.address-base {
    width: 800px;
}
.address-detail {
    width: 500px;
    margin-right: 40px;
}
.address-input-post, .address-input-base, .address-input-detail {
    width: 100%;
    height: 40px;
    border: 2px solid #9698A4;
    border-radius: 5px;
    padding: 0 10px;
}
.address-button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: #3A3A3A;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

/* History Component */
.history-container-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.history-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.history-container {
    width: 100%;
}
.history-table {
    width: 100%;
    border: 1px solid #9698A4;
}
.history-table th {
    border: 1px solid #9698A4;
    font-weight: 500;
}

.history-table td {
    text-align: center;
    border: 1px solid #9698A4;
}
.history-cancel {
    width: 100%;
    display: flex;
    justify-content: center;
}
.history-cancel-button {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #3A3A3A;
    border: 1px solid #3A3A3A;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}