@font-face {
  font-family: "NanumMyeongjo-Regular";
  src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaiseiDecol-Regular";
  src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

/* Banner Component */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.banner-title {
  font-family: "KaiseiDecol-Regular", sans-serif;
  font-size: 128px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-image {
  width: 100%;
  height: 100%;
  display: block;
}

/* ProductCard Component */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-name {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 18px;
  margin-top: 16px;
  color: #3a3a3a;
}

.product-brand {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 12px;
  color: #898989;
  margin-top: 8px;
}

.product-price {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  margin-top: 8px;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2ec1ac;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "KaiseiDecol-Regular";
  padding: 10px 5px 10px 5px;
  border-radius: 50px;
  text-align: center;
}

/* ProductPage Base */
.product-container {
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 84px;
  width: 100%;
  box-sizing: border-box;
}

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 38px;
}

.paging button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #e7eff5;
  color: #3a3a3a;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paging button.active {
  background-color: #9698a4;
  color: #ffffff;
}

.paging button:hover {
  background-color: #9698a4;
  color: #ffffff;
}
