@font-face {
  font-family: "NanumMyeongjo-Regular";
  src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaiseiDecol-Regular";
  src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-name {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 18px;
  margin-top: 16px;
  color: #3a3a3a;
}

.product-brand {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 12px;
  color: #898989;
  margin-top: 8px;
}

.product-price {
  font-family: "NanumMyeongjo-Regular", sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  margin-top: 8px;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2ec1ac;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "KaiseiDecol-Regular";
  padding: 10px 5px 10px 5px;
  border-radius: 50px;
  text-align: center;
}
